@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: rgb(34, 34, 34);
    color: white;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

header{
    padding: 15px 0;
    margin-bottom: 25px;
}

section{
    margin-bottom: 25px;
}

section:last-of-type{
    padding: 40px 0;
}

section h2{
    margin-bottom: 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    width: 120px;
}

.nav-perfil{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-perfil img {
    border-radius: 4px;
    width: 40px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 18px;
}

nav ul li a {
    padding: .5rem 0;
    border-bottom: 5px solid transparent;
    color: #aaa;
}

nav ul li a:hover {
    color: #fff;
    border-bottom-color: crimson;
}

.cards{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    /* scroll-snap-type: x mandatory; */
    /* scroll-behavior: smooth; */
    /* user-select: none; */

    cursor: grab;
    user-select: initial;
    transition: all .2s;
}

.cards.active {
    transform: scale(1.05);
    cursor: grabbing;
    user-select: none;
}

.cards.active .card {
    pointer-events: none;
}

.cards::-webkit-scrollbar{
    height: 0;
}

.card{
    height: 350px;
    width: 250px;
    flex-shrink: 0;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    transition: all .3s;
    scroll-snap-align: start;
    /* cursor: pointer; */
    /* user-select: none; */
}

.card:hover{
    border-color: #fff;
}

.card:hover .card--info{
    transform: translateY(0);
}

.card--img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.card--info{
    position: absolute;
    padding: 45px 10px 10px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0,0,0,.9) 60%, rgba(0,0,0,0));
    transform: translateY(100%);
    transition: transform .3s ease-out;
}

.card--info p{
    margin-top: 10px;
    font-size: 13px;
}

.card--info p span{
    display: inline-block;
    background-color: coral;
    padding: 3px;
    border-radius: 2px;
    margin: 0 8px;
}

footer{
    padding: 10px 0;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-list a:hover{
    color: crimson;
}

.footer-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.footer-social a:hover{
    color: crimson;
}




/* MODAL */
.backdrop {
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,.8);
    position: fixed;
    left: 0; top: 0;
    height: 100vh;
    width: 100%;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    max-width: 900px;
    overflow: hidden;
    outline: 5px solid rgba(255,255,255,.1);
    animation: modal-open .75s;
}

@keyframes modal-open {
    0% {
        transform: translateY(150px);
        visibility: hidden;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

.modal--close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 99;
    border: 0;
    background: transparent;
    cursor: pointer;
    transform: scale(1);
    transition: all .3s;
    color: #fff;
}

.modal--close:hover {
    color: crimson;
    transform: scale(1.25);
}

.modal--cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.modal--body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,.95) 75%, rgba(0,0,0,.8) 85%, transparent);
    padding: 3rem 1rem 1rem;
}

.modal--title {
    margin-bottom: .5rem;
}

.modal--info {
    font-size: .9rem;
    margin-bottom: .75rem;
}

.modal--info strong {
    margin-right: 10px;
    color: chartreuse;
}

.modal--info span {
    display: inline-block;
    background-color: darkorange;
    border-radius: 2px;
    padding: 3px 5px;
    margin: 0 10px;
    color: #121212;
    font-weight: 700;
}

.modal--excerpt {

}